@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

@media (prefers-reduced) {
    *, *::before, *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-property: 0.01ms !important;
        scroll-behavior: auto;
    }
}
:root {
    --primary-colour:#f199f1;
    --secondary-colour:#98e2d0;
}
body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
}
section.splash {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min(400px, 70%);
    padding: 4rem 20vw;
}
/* section:nth-child(1) {
    color: blue;
} */
section:nth-child(2) {
    color: red;
    background-color: hotpink;
}
section:nth-child(3) {
    color: #94961b;
}
section:nth-child(4) {
    color: green;
}
.section-2-design {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.section-3-design-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.section-3-design-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.section-3-design-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.section-3-design-bottom .shape-fill {
    fill: #FFFFFF;
}